<%= @current_user.email.split("@").first.capitalize%>,

<p>Welcome to Kalebr.com. Today, you joined more than 110 million people using the world's largest e-commerse platform to improve their shopping experiance.


<p>
  TEST
<p>Kalebr.com</p>
</p>
